.btn
  height: 55px
  min-width: 140px
  width: max-content
  display: inline-flex
  align-items: center
  justify-content: center
  transition: all ease .3s
  font-size: 18px
  color: white
  cursor: pointer
  padding: 0 35px
  border-radius: 15px
  background-color: $violet
  @extend %500
  gap: 10px
  @extend %transition
  &:hover
      background-color: #9065B4
  &[disabled]
    background-color: $dark-gray
    color: $gray
  @media screen and (max-width: 1439px)
    width: 100%
    text-align: center


  &--gray
    background-color: $gray
    color: $violet
    &:hover
      background-color: $violet
      color: $white

  &--dark-gray
    background-color: rgba(255, 255, 255, 0.30)
    color: $white

  &--white
    background-color: $white
    color: $violet
    &:hover
      background-color: $white
      color: $violet

  &--dark-violet
    background-color: $violet-text
    color: $white


