.input
  width: 100%
  height: 55px
  line-height: 55px
  padding: 0 15px
  font-size: 18px
  @extend %radius
  border: 1px solid transparent
  background-color: $gray
  font-family: 'Geometria', sans-serif

  &.error
    border: 1px solid #e20020

  @media screen and (max-width: 1439px)
    font-size: 16px




.input--search
  display: inline-block
  position: relative
  &:before
    content: ''
    width: 20px
    height: 20px
    display: block
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3.99941C7.54131 3.99941 6.14236 4.57887 5.11091 5.61032C4.07946 6.64177 3.5 8.04072 3.5 9.49941C3.5 10.9581 4.07946 12.357 5.11091 13.3885C6.14236 14.4199 7.54131 14.9994 9 14.9994C10.4587 14.9994 11.8576 14.4199 12.8891 13.3885C13.9205 12.357 14.5 10.9581 14.5 9.49941C14.5 8.04072 13.9205 6.64177 12.8891 5.61032C11.8576 4.57887 10.4587 3.99941 9 3.99941ZM2 9.49941C2.00009 8.38008 2.26861 7.27709 2.78303 6.28297C3.29745 5.28885 4.04276 4.43259 4.95645 3.78601C5.87015 3.13943 6.92557 2.72138 8.0342 2.56695C9.14282 2.41251 10.2723 2.52619 11.3279 2.89843C12.3836 3.27068 13.3345 3.89065 14.101 4.70633C14.8676 5.52201 15.4273 6.50961 15.7333 7.5863C16.0393 8.66299 16.0827 9.79736 15.8597 10.8943C15.6368 11.9912 15.154 13.0186 14.452 13.8904L17.78 17.2194C17.8537 17.2881 17.9128 17.3709 17.9538 17.4629C17.9948 17.5549 18.0168 17.6542 18.0186 17.7549C18.0204 17.8556 18.0018 17.9556 17.9641 18.049C17.9264 18.1424 17.8703 18.2272 17.799 18.2984C17.7278 18.3697 17.643 18.4258 17.5496 18.4635C17.4562 18.5013 17.3562 18.5198 17.2555 18.518C17.1548 18.5162 17.0555 18.4942 16.9635 18.4532C16.8715 18.4122 16.7887 18.3531 16.72 18.2794L13.391 14.9514C12.3625 15.7798 11.1207 16.3004 9.80901 16.453C8.49727 16.6056 7.16912 16.3841 5.97795 15.8139C4.78677 15.2438 3.78117 14.3484 3.07727 13.231C2.37338 12.1137 1.99991 10.82 2 9.49941Z' fill='%238584AD'/%3E%3C/svg%3E%0A")
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
  .input
    padding-right: 50px


.input--telegram
  position: relative
  &:before
    content: ''
    width: 20px
    height: 20px
    display: block
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.98089 9.468C2.98089 9.468 10.0574 5.95576 12.5116 4.71902C13.4524 4.22429 16.6429 2.64125 16.6429 2.64125C16.6429 2.64125 18.1155 1.94866 17.9927 3.6307C17.9519 4.32329 17.6245 6.74721 17.2974 9.36913C16.8066 13.0792 16.2748 17.1358 16.2748 17.1358C16.2748 17.1358 16.193 18.2735 15.4976 18.4715C14.8022 18.6694 13.657 17.7791 13.4525 17.5811C13.2889 17.4328 10.3846 15.2066 9.32118 14.1182C9.03483 13.8215 8.70762 13.2278 9.36205 12.5353C10.8346 10.9029 12.5936 8.87468 13.657 7.5885C14.1478 6.99478 14.6386 5.60974 12.5934 7.29164C9.68927 9.71556 6.82596 11.9912 6.82596 11.9912C6.82596 11.9912 6.17141 12.4859 4.94441 12.0406C3.71729 11.5955 2.28558 11.0017 2.28558 11.0017C2.28558 11.0017 1.30382 10.2594 2.98089 9.468Z' fill='%238584AD'/%3E%3C/svg%3E%0A")
    position: absolute
    right: 20px
    top: 15px
  .input
    padding-right: 50px
    margin-bottom: 0


.input--instagram
  position: relative
  &:before
    content: ''
    width: 20px
    height: 20px
    display: block
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1213_305)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 2.29331C12.6748 2.29331 12.9787 2.29331 14.0426 2.3541C16.7477 2.47568 18.0243 3.75228 18.1459 6.45745C18.1763 7.52128 18.2067 7.82523 18.2067 10.5C18.2067 13.1748 18.2067 13.4787 18.1459 14.5426C18.0243 17.2173 16.7477 18.5243 14.0426 18.6459C12.9787 18.6763 12.6748 18.7067 10 18.7067C7.32523 18.7067 7.02128 18.7067 5.95745 18.6459C3.25228 18.4939 1.97568 17.2173 1.8541 14.5426C1.82371 13.4787 1.79331 13.1748 1.79331 10.5C1.79331 7.82523 1.79331 7.52128 1.8541 6.45745C1.97568 3.78267 3.25228 2.47568 5.95745 2.3541C7.02128 2.32371 7.32523 2.29331 10 2.29331ZM10 0.5C7.29483 0.5 6.93009 0.5 5.86626 0.56079C2.24924 0.712766 0.243161 2.74924 0.0607903 6.36626C0 7.46049 0 7.79483 0 10.5C0 13.2052 0 13.5699 0.0607903 14.6033C0.212766 18.2508 2.24924 20.2568 5.86626 20.4392C6.93009 20.4696 7.26444 20.5 10 20.5C12.7356 20.5 13.0699 20.5 14.1337 20.4392C17.7508 20.2872 19.7872 18.2508 19.9392 14.6337C19.9696 13.5699 20 13.2356 20 10.5C20 7.76444 20 7.43009 19.9392 6.36626C19.7872 2.74924 17.7508 0.743161 14.1033 0.56079C13.0395 0.5 12.7052 0.5 10 0.5ZM10 5.36322C7.17325 5.36322 4.86322 7.64286 4.86322 10.5C4.86322 13.3267 7.14286 15.6368 10 15.6368C12.8267 15.6368 15.1368 13.3571 15.1368 10.5C15.1368 7.67325 12.8267 5.36322 10 5.36322ZM10 13.8435C8.1459 13.8435 6.65653 12.3541 6.65653 10.5C6.65653 8.6459 8.1459 7.15653 10 7.15653C11.8541 7.15653 13.3435 8.6459 13.3435 10.5C13.3435 12.3541 11.8237 13.8435 10 13.8435ZM15.3495 3.96505C14.6809 3.96505 14.1337 4.51216 14.1337 5.18085C14.1337 5.84954 14.6809 6.39666 15.3495 6.39666C16.0182 6.39666 16.5653 5.84954 16.5653 5.18085C16.5653 4.51216 15.9878 3.96505 15.3495 3.96505Z' fill='%238584AD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1213_305'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
    position: absolute
    right: 20px
    top: 15px
  .input
    padding-right: 50px
    margin-bottom: 0
