.input
  width: 100%
  height: 55px
  line-height: 55px
  padding: 0 15px
  font-size: 18px
  @extend %radius
  border: 1px solid transparent
  background-color: $gray
  font-family: 'Geometria', sans-serif

  &.error
    border: 1px solid #e20020

  @media screen and (max-width: 1439px)
    font-size: 16px




.input--search
  display: inline-block
  position: relative
  &:before
    content: ''
    width: 20px
    height: 20px
    display: block
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3.99941C7.54131 3.99941 6.14236 4.57887 5.11091 5.61032C4.07946 6.64177 3.5 8.04072 3.5 9.49941C3.5 10.9581 4.07946 12.357 5.11091 13.3885C6.14236 14.4199 7.54131 14.9994 9 14.9994C10.4587 14.9994 11.8576 14.4199 12.8891 13.3885C13.9205 12.357 14.5 10.9581 14.5 9.49941C14.5 8.04072 13.9205 6.64177 12.8891 5.61032C11.8576 4.57887 10.4587 3.99941 9 3.99941ZM2 9.49941C2.00009 8.38008 2.26861 7.27709 2.78303 6.28297C3.29745 5.28885 4.04276 4.43259 4.95645 3.78601C5.87015 3.13943 6.92557 2.72138 8.0342 2.56695C9.14282 2.41251 10.2723 2.52619 11.3279 2.89843C12.3836 3.27068 13.3345 3.89065 14.101 4.70633C14.8676 5.52201 15.4273 6.50961 15.7333 7.5863C16.0393 8.66299 16.0827 9.79736 15.8597 10.8943C15.6368 11.9912 15.154 13.0186 14.452 13.8904L17.78 17.2194C17.8537 17.2881 17.9128 17.3709 17.9538 17.4629C17.9948 17.5549 18.0168 17.6542 18.0186 17.7549C18.0204 17.8556 18.0018 17.9556 17.9641 18.049C17.9264 18.1424 17.8703 18.2272 17.799 18.2984C17.7278 18.3697 17.643 18.4258 17.5496 18.4635C17.4562 18.5013 17.3562 18.5198 17.2555 18.518C17.1548 18.5162 17.0555 18.4942 16.9635 18.4532C16.8715 18.4122 16.7887 18.3531 16.72 18.2794L13.391 14.9514C12.3625 15.7798 11.1207 16.3004 9.80901 16.453C8.49727 16.6056 7.16912 16.3841 5.97795 15.8139C4.78677 15.2438 3.78117 14.3484 3.07727 13.231C2.37338 12.1137 1.99991 10.82 2 9.49941Z' fill='%238584AD'/%3E%3C/svg%3E%0A")
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
  .input
    padding-right: 50px
