.navigation
  background-color: $white
  padding: 30px
  font-size: 18px
  position: sticky
  top: 0
  height: max-content
  @media screen and (max-width: 1439px)
  	display: none




  &__item
    display: flex
    gap: 20px
    height: 60px
    @extend %fy
    padding: 0 30px
    @extend %radius
    border-left: 1px solid transparent
    @extend %transition
    color: $violet-text

    &.active, &:hover
      background-color: $gray
      border-left: 1px solid $violet
      color: $black
      path
        fill: $black

      rect
        fill: $black

  &__logo
    margin-bottom: 60px
    display: block


  &__wrap
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: calc(100vh - 60px)


