.data
  &__wrap
    display: grid
    grid-template-columns: 270px auto
    grid-gap: 30px

  @media screen and (max-width: 1919px)
    grid-template-columns: 230px auto

  &__photo
    height: 270px
    @extend %radius
    @media screen and (max-width: 1919px)
      height: 230px


  &__list
    display: flex
    flex-wrap: wrap
    gap: 15px

  &__item
    background-color: $white
    @extend %radius
    padding: 15px 20px

    span
      display: block
      margin-bottom: 10px
      color: $violet-text

    strong
      display: block

  &__block
    margin-bottom: 30px
