.data
  &__mobile-block

    gap: 10px
    justify-content: center
    margin-bottom: 40px
    display: none
    @media screen and (max-width: 1439px)
      display: flex


  &__mobile-item
    @extend %radius
    height: 40px
    @extend %fy
    gap: 10px
    color: $violet-text
    background-color: $white
    padding: 0 15px

  &__wrap
    display: grid
    grid-template-columns: 270px auto
    grid-gap: 30px
    @media screen and (max-width: 1919px)
      grid-template-columns: 230px auto
    @media screen and (max-width: 1439px)
      grid-template-columns: 1fr


  @media screen and (max-width: 1919px)
    grid-template-columns: 230px auto

  &__photo
    height: 270px
    @extend %radius
    @media screen and (max-width: 1919px)
      height: 230px
    @media screen and (max-width: 1439px)
      width: 120px
      height: 120px
      margin: 0 auto
    &:hover
      .data__buttons
        display: flex

  &__list
    display: flex
    flex-wrap: wrap
    gap: 15px

  &__item
    background-color: $white
    @extend %radius
    padding: 10px 20px
    @media screen and (max-width: 1439px)
      padding: 10px 15px


    span
      display: block
      margin-bottom: 10px
      color: $violet-text

    strong
      display: block

  &__block
    margin-bottom: 30px
    @extend %lc

  &__buttons
    position: absolute

    gap: 5px
    bottom: 5px
    right: 10px
    display: none
