.popup
  @extend %radius
  background-color: $white
  max-width: 410px
  width: 100%
  padding: 40px 30px
  position: relative

  &--big
    max-width: 720px

  &:before
    content: ''
    display: block
    width: 57px
    height: 47px
    margin: 0px auto 15px
    background-image: url("data:image/svg+xml,%3Csvg width='58' height='47' viewBox='0 0 58 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.2764 25.0283C40.1055 29.0106 40.1055 35.3063 36.2764 39.2886C32.2289 43.498 25.4932 43.498 21.4457 39.2886C17.6166 35.3063 17.6166 29.0106 21.4457 25.0283C25.4932 20.819 32.2289 20.819 36.2764 25.0283Z' fill='%23AA84CA'/%3E%3Cpath d='M22.0068 7.71194C25.836 11.6942 25.836 17.9899 22.0068 21.9722C17.9594 26.1816 11.2237 26.1816 7.1762 21.9722C3.34708 17.9899 3.34708 11.6942 7.1762 7.71194C11.2237 3.50255 17.9594 3.50255 22.0068 7.71194Z' fill='%23AA84CA'/%3E%3Cpath d='M50.5498 7.71194C54.3789 11.6942 54.3789 17.9899 50.5498 21.9722C46.5023 26.1816 39.7667 26.1816 35.7192 21.9722C31.8901 17.9899 31.8901 11.6942 35.7192 7.71194C39.7667 3.50255 46.5023 3.50255 50.5498 7.71194Z' fill='%23AA84CA'/%3E%3C/svg%3E%0A")

  &--no-logo:before
    display: none

  .input
    margin-bottom: 15px

  .h3
    text-align: center

  .btn
    margin-top: 15px
    width: 100%

  .selectElement
    margin-bottom: 15px

  .password
    margin-bottom: 15px

    input
      margin-bottom: 0

  &__ancors
    display: flex
    justify-content: center
    gap: 10px
    font-size: 16px

    a
      color: $violet

  &__text-center
    text-align: center

  &__back
    position: absolute
    width: 36px
    height: 36px
    background-color: $gray
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.66797 1L1.0013 7.5L7.66797 14' stroke='%238584AD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: center
    display: block
    left: 15px
    top: 15px

  &--instrument
    padding: 0
    max-width: 630px
    @media screen and (max-width: 1439px)
      max-width: 375px


    &:before
      display: none

    .instruments__img
      height: 260px
      @media screen and (max-width: 1439px)
        height: 190px


    .instruments__buttons
      display: flex
      grid-gap: 30px

      .btn
        width: max-content
        @media screen and (max-width: 1439px)
          width: 100%


    .popup__back
      background-color: $white
      z-index: 1
      left: 30px
      top: 30px

    .h4:last-child
      &:before
        display: none

    .h4
      display: flex
      flex-direction: column
      align-items: flex-start
      @media screen and (max-width: 1439px)
        width: 100%


      &:first-child
        span
          margin-left: 30px

    .instruments__price
      position: relative
      @media screen and (max-width: 1439px)
        flex-direction: column


      &:before
        position: absolute
        left: 15px
        top: 1px


  &__document-head
    @extend %fb

    strong
      display: inline-flex
      gap: 15px
      align-items: center

  &__document-core
    position: absolute
    left: 50%
    transform: translateX(-50%) translateY(5px)

  &__document-list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 15px
    @media screen and (max-width: 1439px)
      grid-template-columns: 1fr
      grid-gap: 10px

  &__document-item
    height: 140px
    @extend %radius
    position: relative

  &__document-buttons
    position: absolute

    gap: 5px
    right: 10px
    bottom: 5px
    display: none

  &__document-item:hover
    .popup__document-buttons
      display: flex

  &__document-close
    @extend %fc

    .btn
      width: max-content

  &__description
    background-color: $gray
    @extend %radius
    max-height: 500px
    overflow-y: scroll
    @extend %scrollbar
    padding: 15px

