{% set page = { title: 'Ссылки' } %}
{% extends "./2.parts/main.njk" %}



{% block content %}

    <style>

        .ancors .btn {
            max-width: 100%;
            width: 100%;
            justify-content: flex-start;
            color: white;
            margin-bottom: 10px;
            display: flex;
            border-radius: 0;
        }
    </style>

    {% set  list = [{
        title: 'Моя страница',
        subtitle: 'my-page'
    }, {
        title: 'Площадки',
        subtitle: 'platforms'
    }, {
        title: 'Документы',
        subtitle: 'documents'
    }, {
        title: 'Академия',
        subtitle: 'academy'
    }, {
        title: 'Академия (подробная)',
        subtitle: 'academy-page'
    }, {
        title: 'Инструменты',
        subtitle: 'instruments'
    }, {
        title: 'Статистика и выплаты',
        subtitle: 'payments'
    }, {
        title: 'Сообщения',
        subtitle: 'messages'
    }, {
        title: 'Моя студия',
        subtitle: 'my-studio'
    }, {
        title: 'Мои модель',
        subtitle: 'my-models'
    }, {
        title: 'CRM',
        subtitle: 'crm'
    }, {
        title: 'Покупки/заявки',
        subtitle: 'request'
    }] %}

    <h2 class="h2">Страницы</h2>
    <div class="ancors section section--no-top">
        {% for item in list %}
            <a href="{{ item.subtitle }}.html" class="btn btn--second btn--bg"
               style="width: 100%">{{ item.title }}</a>
        {% endfor %}
        <div class="gap"></div>
        <h2 class="h2">Всплывающие окна</h2>
        <a href="#model-registration" data-fancybox="" class="btn">Регистрация для моделей</a>
        <a href="#congratulations" data-fancybox="" class="btn">Поздравляем с регистрацией</a>
        <a href="#login" data-fancybox="" class="btn">Войти Virtual Studio</a>
        <a href="#recover-password" data-fancybox="" class="btn">Восстановить пароль</a>
        <a href="#recover-password--second" data-fancybox="" class="btn">Восстановить пароль (2)</a>
        <a href="#recover-password--third" data-fancybox="" class="btn">Восстановить пароль (3)</a>
        <a href="#confirmation-cr" data-fancybox="" class="btn">Вы подтверждаете покупку за баллы CR</a>
        <a href="#paid" data-fancybox="" class="btn">Покупка оплачена с вами свяжется менеджер</a>
        <a href="#send-request" data-fancybox="" class="btn">Отправить заявку на покупку</a>
        <a href="#confirmation-sending" data-fancybox="" class="btn">Заявка отправлена с вами свяжется менеджер</a>
        <a href="#instrument" data-fancybox="" class="btn">Инструмент</a>
    </div>

    {% set  _ = 'popup' %}
    <div id="model-registration" class="popup" style="display: none">
        <h3 class="h3">Регистрация для моделей</h3>
        <input type="text" class="input" placeholder="ФИО">
        <select class="selectElement">
            <option data-placeholder="true">Пол</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>
        <input type="text" class="input" placeholder="Дата рождения">
        <input type="text" class="input js--tel" placeholder="Телефон">
        <input type="text" class="input" placeholder="E-mail">

        <div class="password">
            <input type="password" class="input" placeholder="Пароль">
        </div>
        <div class="password">
            <input type="text" class="input" placeholder="Повторите пароль">
        </div>

        <div class="btn btn--dark-violet">Зарегистрироваться</div>
        <div class="gap"></div>
        <div class="{{ _ }}__ancors">
            <a href="#">Войти</a>
            <a href="#">Добавить код студии</a>
        </div>

    </div>
    <div id="congratulations" class="popup" style="display: none">
        <div class="{{ _ }}__text-center">
            <h3 class="h3">Поздравляем с регистрацией</h3>
            <p>Остался последний шаг. Перейди в свою электронную почту и подтверди регистрацию в письме которое мы
                отправили тебе.</p>
            <p> Не забудь проверить раздел “Спам”</p>
        </div>
        <div class="gap"></div>
        <a href="#" class="btn">Хорошо</a>

    </div>
    <div id="login" class="popup" style="display: none">
        <h3 class="h3">Войти Virtual Studio</h3>
        <input type="text" class="input js--tel">
        <div class="password">
            <input type="password" class="input">
        </div>
        <a href="#" class="btn btn--dark-violet">Отправить</a>
        <div class="gap"></div>
        <div class="{{ _ }}__ancors">
            <a href="#">Восстановить пароль</a>
            <a href="#">Регистрация</a>
        </div>
    </div>
    <div id="recover-password" class="popup" style="display: none">
        <h3 class="h3">Восстановить пароль</h3>
        <input type="text" class="input" placeholder="E-mail">
        <a href="#" class="btn btn--dark-violet">Отправить</a>
        <div class="gap"></div>
        <div class="{{ _ }}__ancors">
            <a href="#">Вход</a>
            <a href="#">Регистрация</a>
        </div>
    </div>
    <div id="recover-password--second" class="popup" style="display: none">
        <h3 class="h3">Восстановить пароль</h3>
        <div class="{{_}}__text-center">
            <p>Мы отправили Вам на почту всю необходимую информацию для восстановления пароля.</p>
            <p> Перейдите в Ваш почтовый ящик</p>
        </div>

        <div class="gap"></div>
        <a href="#" class="btn">Хорошо</a>
    </div>
    <div id="recover-password--third" class="popup" style="display: none">
        <h3 class="h3">Восстановить пароль</h3>
        <div class="password">
            <input type="password" class="input" placeholder="Пароль">
        </div>
        <div class="password">
            <input type="password" class="input" placeholder="Повторите пароль">
        </div>
        <a href="#" class="btn btn--dark-violet">Отправить</a>
        <div class="gap"></div>
    </div>
    <div id="confirmation-cr" class="popup" style="display: none">
        <a href="#" class="{{_}}__back"></a>
        <h3 class="h3">Вы подтверждаете покупку за баллы CR</h3>
        <div class="gap"></div>
        <div class="btn">Да</div>
    </div>
    <div id="paid" class="popup" style="display: none">
        <a href="#" class="{{_}}__back"></a>
        <h3 class="h3">Покупка оплачена с вами свяжется менеджер</h3>
        <div class="gap"></div>
        <div class="btn">Спасибо</div>
    </div>
    <div id="send-request" class="popup" style="display: none">
        <a href="#" class="{{_}}__back"></a>
        <h3 class="h3">Отправить заявку на покупку</h3>
        <div class="gap"></div>
        <div class="btn">Да</div>
    </div>
    <div id="send-request" class="popup" style="display: none">
        <a href="#" class="{{_}}__back"></a>
        <h3 class="h3">Отправить заявку на покупку</h3>
        <div class="gap"></div>
        <div class="btn">Да</div>
    </div>
    <div id="confirmation-sending" class="popup" style="display: none">
        <a href="#" class="{{_}}__back"></a>
        <h3 class="h3">Заявка отправлена с вами свяжется менеджер</h3>
        <div class="gap"></div>
        <div class="btn">Спасибо</div>
    </div>
    <div id="instrument" class="popup popup--instrument" style="display: none">
        <a href="#" class="{{_}}__back"></a>
        <div class="instruments__item">
            <div class="instruments__img img">
                <img src="images/instruments/1.png" alt="">
            </div>
            <div class="gap"></div>
            <strong>Создатель платформы</strong>
            <div class="gap"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="gap"></div>
            <div class="instruments__price">
                <h4 class="h4">
                    <span>100</span>
                    <a href="#" class="btn">Оплатить</a>
                </h4> <h4 class="h4">100$
                    <a href="#" class="btn">Оставить заявку</a>
                </h4>
            </div>
        </div>
    </div>


{% endblock content %}