{% set page = { title: 'Инструменты' } %}
{% extends "./2.parts/main.njk" %}
   {% set  active = 5 %}
{% block content %}
    <h1 class="h1">Инструменты</h1>


    {% set  _ = 'instruments' %}
    <div class="{{ _ }} section">
        <div class="{{ _ }}__header">
            <a data-fancybox="" href="https://www.youtube.com/watch?v=tBO2NdmRHeI"
               class="{{ _ }}__header-img img video">
                <img src="images/{{ _ }}/1.jpg" alt=""/>
            </a>
            <div class="{{ _ }}__header-content">
                <h4 class="h4"> Специально для наших моделей, мы собрали все дополнительные инструменты для комфортной
                    работы
                </h4>
                <p>Они не являются обязательными и больше необходимы моделям с опытом. Вы можете приобрести их за бонусы
                    или оплатить услуги с Вашего модельного счета.</p>
                <p>Все инструменты направлены на увеличения Вашего заработка</p>
            </div>

        </div>


        <div class="{{ _ }}__block section">
            <h2 class="h2">Консультации специалистов CASHROOM Virtual</h2>
            <div class="{{ _ }}__list custom-slick-dots">

                {% set  list = [
                    'Создатель платформы',
                    'Руководитель отдела развития моделей',
                    'Персональный наставник'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__item">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/{{ loop.index }}.png" alt=""/>
                        </div>
                        <div class="gap"></div>
                        <strong>{{ item }}</strong>
                        <div class="gap"></div>
                        <div class="{{ _ }}__price">
                            <h4 class="h4">100</h4> <h4 class="h4">100$</h4>
                        </div>
                    </a>
                {% endfor %}


            </div>
        </div>
        <div class="{{ _ }}__block section">
            <h2 class="h2">Консультации специалистов по маркетингу</h2>
            <div class="{{ _ }}__list custom-slick-dots">

                {% set  list = [
                    'Консультация SMM специалиста',
                    'Помощь копирайтера',
                    'Консультации маркетолога'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__item">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/{{ loop.index + 3 }}.png" alt=""/>
                        </div>
                        <div class="gap"></div>
                        <strong>{{ item }}</strong>
                        <div class="gap"></div>
                        <div class="{{ _ }}__price">
                            <h4 class="h4">100</h4> <h4 class="h4">100$</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="{{ _ }}__block section">
            <h2 class="h2">Услуги дизайнера для моделей</h2>
            <div class="{{ _ }}__list custom-slick-dots">

                {% set  list = [
                    'Создание BIO для Chaturbate',
                    'Создание BIO для Stripchat',
                    'Ретушь фотографий'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__item">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/{{ loop.index + 6 }}.png" alt=""/>
                        </div>
                        <div class="gap"></div>
                        <strong>{{ item }}</strong>
                        <div class="gap"></div>
                        <div class="{{ _ }}__price">
                            <h4 class="h4">100</h4> <h4 class="h4">100$</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        {% set  _ = 'promotion' %}

        <div class="{{ _ }} section">
            <div class="{{ _ }}__wrap">
                <h3 class="h3">Продвижение на площадках</h3>
                <p>Продвижение в ТОП на площадках! <br> Только для опытных моделей.</p>
                <div class="gap"></div>
                <a href="#" class="btn btn--white">
                    <img src="images/star.svg" alt=""/>
                    Хочу в топ</a>
            </div>

        </div>


        {% set  _ = 'instruments' %}
        <div class="{{ _ }}__block section">
            <h2 class="h2">Ведение рабочих социальных сетей</h2>
            <div class="{{ _ }}__list custom-slick-dots">

                {% set  list = [
                    'Instagram',
                    'Telegram',
                    'Instagram + Telegram'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__item">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/{{ loop.index + 9 }}.png" alt=""/>
                        </div>
                        <div class="gap"></div>
                        <strong>{{ item }}</strong>
                        <div class="gap"></div>
                        <div class="{{ _ }}__price">
                            <h4 class="h4">100</h4> <h4 class="h4">100$</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="{{ _ }}__block section">
            <h2 class="h2">Дополнительные услуги</h2>
            <div class="{{ _ }}__list custom-slick-dots">

                {% set  list = [
                    'Курсы английского языка',
                    'Консультация психолога',
                    'Консультация по финансовой безопасности'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__item">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/{{ loop.index + 6 }}.png" alt=""/>
                        </div>
                        <div class="gap"></div>
                        <strong>{{ item }}</strong>
                        <div class="gap"></div>
                        <div class="{{ _ }}__price">
                            <h4 class="h4">100</h4> <h4 class="h4">100$</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock content %}