{% set page = { title: 'Мои модели' } %}
{% extends "./2.parts/main--2.njk" %}
    {% set  active = 1 %}
{% block content %}
    <h1 class="h1">Мои модели</h1>
    {% set  _ = 'my-models' %}
    <div class="{{_}}">
        <div class="{{_}}__fields">
            <div class="input--search">
                <input type="text" class="input" placeholder="Поиск">
            </div>

            <div class="table-wrap">
                <table class="table">
                    <tr>
                        <th>Модель</th>
                        <th>ID модели</th>
                        <th>Логин на сайтах</th>
                        <th>Пол</th>
                        <th>Номер телефона</th>
                        <th>Телеграмм</th>
                        <th>Ранг</th>
                        <th>CR баллы</th>
                        <th>Instagram</th>
                        <th>Сообщения</th>
                        <th>Данные</th>
                    </tr>
                    <tr>
                        <td>Бобровская Анастасия</td>
                        <td>000001</td>
                        <td>Evarayqq</td>
                        <td>Женский</td>
                        <td>8 988 888 88 88</td>
                        <td>VirtualStudio</td>
                        <td>Божество</td>
                        <td>100</td>
                        <td>VirtualStudio</td>
                        <td><img src="src/images/bell.svg" alt="" /></td>
                        <img src="images/{{ _ }}/{{ loop.index }}.jpg" alt=""/>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                </table>
            </div>


        </div>

    </div>





{% endblock content %}